html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
  background-color: #222;
  background-image: url("../img/pw_maze_black.png");
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* FALCON */
.wordwrap {
  white-space: pre-wrap;
/* CSS3 */
  white-space: -moz-pre-wrap;
/* Firefox */
  white-space: -pre-wrap;
/* Opera <7 */
  white-space: -o-pre-wrap;
/* Opera 7 */
  word-wrap: break-word;
/* IE */
}
h1 {
  color: #800000;
}
.header {
  width: 800px;
  height: 100px;
  background-color: rgba(0,255,0,0.5);
  margin-left: auto;
  margin-right: auto;
}
.main {
  width: 800px;
  height: 600px;
  background-color: rgba(255,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
}
.main_frame {
  position: absolute;
  width: 800px;
  height: 600px;
  background-color: #0f0;
  overflow: hidden;
}
.left {
  position: absolute;
  width: 700px;
  height: 600px;
  left: -600px;
  background-color: #006464;
  overflow: hidden;
}
.right {
  position: absolute;
  width: 700px;
  height: 600px;
  left: 700px;
  background-color: #640064;
  overflow: hidden;
}
.text1 {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 400px;
  background-color: rgba(10,40,100,0.5);
}
.iphone1 {
  position: absolute;
  background-image: url("../img/iphone.png");
  top: 50px;
  left: -25px;
  width: 400px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
}
.mask1 {
  position: absolute;
  top: 120px;
  left: 71px;
  background-color: rgba(255,0,0,0.5);
  width: 185px;
  height: 278px;
  overflow: hidden;
}
.text0 {
  position: absolute;
  top: 100px;
  left: 300px;
  width: 300px;
  height: 400px;
  background-color: rgba(10,40,100,0.5);
}
.iphone0 {
  position: absolute;
  background-image: url("../img/iphone.png");
  top: 50px;
  left: 400px;
  width: 400px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
}
.mask0 {
  position: absolute;
  top: 120px;
  left: 71px;
  background-color: rgba(255,0,0,0.5);
  width: 185px;
  height: 278px;
  overflow: hidden;
}
.vid {
  position: absolute;
}
.update_panel {
  width: 100%;
  height: 270px;
  top: -260px;
  position: absolute;
  background-image: url("../img/screens1_039_03.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.confirm_panel {
  visibility: hidden;
  width: 100%;
  height: 427px;
  top: 427px;
  left: 0px;
  background-size: 100%;
  position: absolute;
}
.main_panel_shadow {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  background: #000;
}
.main_panel_gadget {
  width: 100%;
  height: 500px;
  top: 0px;
  left: 0px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
}
.main_panel_action {
  width: 100%;
  height: 427px;
  top: 427px;
  left: 0px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/mic_action_sprite_03.png");
}
.main_panel {
  width: 100%;
  height: 500px;
  top: 0px;
  left: 0px;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
}
.textcontent {
  position: absolute;
  background: rgba(0,0,0,0.5);
  color: #fff;
  top: 150px;
  width: 400px;
  left: 700px;
  padding: 1em;
}
.next {
  position: absolute;
  background-image: url("../img/arrow.png");
  background-size: 100%;
  top: 570px;
  left: 700px;
  width: 100px;
  height: 70px;
}
.footer {
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,0.2);
  background-color: rgba(0,0,0,0.2);
  bottom: 0;
  position: relative;
  padding: 1em;
}
.logo {
  width: 100px;
  height: 100px;
  background-color: rgba(255,255,255,0.4);
  float: left;
  margin: 2em;
}
.teaser {
  padding-top: 1em;
  clear: both;
}
