html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
  background-color: #222;
  background-image: url("../img/background-bw.jpg");
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* FALCON */
@font-face {
  font-family: comic_book;
  src: url("../Comic_Book.ttf");
}
.wordwrap {
  white-space: pre-wrap;
/* CSS3 */
  white-space: -moz-pre-wrap;
/* Firefox */
  white-space: -pre-wrap;
/* Opera <7 */
  white-space: -o-pre-wrap;
/* Opera 7 */
  word-wrap: break-word;
/* IE */
}
.vid0 {
  position: absolute;
  left: -150px;
  top: -50px;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
.vid1 {
  position: absolute;
  -moz-transform: scale(0.35);
  -webkit-transform: scale(0.35);
  -o-transform: scale(0.35);
  -ms-transform: scale(0.35);
  transform: scale(0.35);
  top: -175px;
  left: -130px;
}
.header {
  width: 1000px;
  height: 100px;
  background-color: rgba(0,255,0,0.5);
  margin-left: auto;
  margin-right: auto;
}
.main {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.splash {
  position: absolute;
  width: 240px;
  height: 120px;
  top: 240px;
}
.image0 {
  left: -700px;
  position: absolute;
}
.image1 {
  position: absolute;
}
.iphone0 {
  position: absolute;
  background-image: url("../img/iphone-mask-white.png");
  top: 80px;
  left: -280px;
  width: 380px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
}
.iphone1 {
  position: absolute;
  background-image: url("../img/iphone-mask.png");
  top: 80px;
  width: 380px;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
}
.mask0 {
  position: absolute;
  top: 120px;
  left: 71px;
  background-color: rgba(255,0,0,0.5);
  width: 185px;
  height: 278px;
  overflow: hidden;
}
.mask1 {
  position: absolute;
  top: 120px;
  left: 71px;
  background-color: rgba(255,0,0,0.5);
  width: 185px;
  height: 278px;
  overflow: hidden;
}
.navigator {
  width: 1000px;
  height: 100px;
  background-color: rgba(255,0,255,0.5);
  margin-left: auto;
  margin-right: auto;
}
.navigator_frame {
  position: absolute;
  width: 1000px;
  height: 100px;
  overflow: hidden;
}
.prev {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("../img/btn_back.png");
  background-repeat: no-repeat;
  background-position: top left;
  top: 10px;
  left: 326px;
}
.prev:hover {
  background-position: bottom left;
}
cursor: pointer:active {
  background-position: center left;
}
.play {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("../img/btn_play.png");
  background-repeat: no-repeat;
  background-position: top left;
  top: 10px;
  left: 472px;
}
.play:hover {
  background-position: bottom left;
}
cursor: pointer:active {
  background-position: center left;
}
.pause {
  display: none;
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("../img/btn_pause.png");
  background-repeat: no-repeat;
  background-position: top left;
  top: 10px;
  left: 472px;
}
.pause:hover {
  background-position: bottom left;
}
cursor: pointer:active {
  background-position: center left;
}
.next {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("../img/btn_next.png");
  background-repeat: no-repeat;
  background-position: top left;
  top: 10px;
  left: 626px;
}
.next:hover {
  background-position: bottom left;
}
cursor: pointer:active {
  background-position: center left;
}
.main_about {
  color: #969696;
  width: 1000px;
  background-color: rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
}
.footer {
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  position: relative;
  padding: 1em;
  font-family: Trebuchet MS, Georgia, Times, serif;
  font-size: 16px;
}
.logo {
  width: 100px;
  height: 100px;
  background-color: rgba(255,255,255,0.4);
  float: left;
  margin: 2em;
}
.about {
  width: 100px;
  height: 50px;
}
.heading {
  font-size: 20pt;
  padding-top: 30px;
  padding-left: 50px;
}
.content {
  padding-left: 100px;
  padding-right: 100px;
}
.teaser {
  padding-top: 1em;
  clear: both;
}
blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: rgba(255,255,255,0.5);
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
blockquote cite {
  color: #999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
blockquote cite:before {
  content: "\2014 \2009";
}
h1 {
  font-family: Trebuchet MS, Georgia, Times, serif;
  font-size: 59px;
  line-height: 30px;
}
p {
  font-family: Trebuchet MS, Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}
